@import url('https://fonts.googleapis.com/css2?family=Inter&family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    align-items: center;
}

body {
    font-family: 'Inter', sans-serif;
    font-family: 'Poppins', sans-serif;
}

header {
    background-color: white;
    box-shadow: 0px 0px 2px #6666;
    /* Fixed nav at top */
    position: sticky;
    top: 0;
}

.heading {
    display: flex;
    justify-content: space-between;
    margin: 0 120px;
    padding: 25px 0;
    margin-left: 25%;
    margin-right: 25%;
}

.heading img {
    width: 8.5em;
    height: 1.2em;
    object-fit: contain;
}

div ul {
    list-style: none;
    display: flex;
    gap: 2em;
}

div ul li {
    color: #666;
    font: 14.4px;
    font-weight: 400;
    font-size: .9rem;
    transition: color .3s;
    display: inline-block;
    box-sizing: border-box;
}

.hamburger-icon {
    color: #666;
    font-weight: 400;
    display: inline-block;
    cursor: pointer;
    font-size: 16px;
    /* padding: 20px 0; */
    /* display: inline-block; */
}


main {
    padding: 100px 0px 100px 0px;
    display: flex;
    flex-direction: column;
    gap: 2em;
    margin: 30px 0;
    /* background-color: aliceblue; */
}

.head-img {
    width: 618px;
    height: 260px;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

main h1 {
    color: #424242;
    /* font: 44px; */
    font-weight: lighter;
    font-size: 2.75rem;
    line-height: 1.25;
}

main p {
    text-align: center;
    color: #424242;
    margin: 0px 0px 8px;
    font-size: 1.25rem;
    font-weight: 400;
    ;
}

main button {
    background-color: #387ed1;
    color: #fff;
    border: 1px solid rgba(0, 0, 0, 0) !important;
    border-radius: 3px;
    padding: 10px 30px;
    margin: 25px 0px 0px;
    border: none;
    font-size: 1.3em;
    cursor: pointer;


}